<table class="table .borderless">
  <thead>
  <tr>
    <th scope="col">
      <div id="toc_container">
        <ul class="toc_list">
          <li>Portland
            <ul>
              <li><%= link_to 'Broadway Bridge', controller: 'trip', :action => :broadway_bridge %></li>
              <li><%= link_to 'Chinatown',controller: 'trip', :action => :chinatown %></li>
              <li><%= link_to 'Old Town', '#' %></li>
              <ul>
                <li><%= link_to 'Saturday Market', '#' %></li>
                <li><%= link_to 'Voodoo Doughnut', '#' %></li>
                <li><%= link_to 'Keep Portland Weird', '#' %></li>
                <li><%= link_to 'Deadstock Coffee', '#' %></li>
                <li><%= link_to 'Ground Kontrol Classic Arcade', '#' %></li>
                <li><%= link_to 'Powell’s City Of Books', '#' %></li>
                <li><%= link_to 'Lan Su Chinese Garden', '#' %></li>
              </ul>
              <li><%= link_to 'Steel Bridge', '#' %></li>
              <li><%= link_to 'Moda Center', '#' %></li>
              <li><%= link_to 'Lloyd District', '#' %></li>
              <li><%= link_to 'Washington Park', '#' %></li>
              <ul>
                <li><%= link_to 'International Rose Test Garden', '#' %></li>
                <li><%= link_to 'Portland Japanese Garden', '#' %></li>
                <li><%= link_to 'Archery Range', '#' %></li>
                <li><%= link_to 'Portland: 4T – Trail, Tram, Trolley, and Train', '#' %></li>
                <ul>
                  <li><%= link_to 'Start – Oregon Zoo', '#' %></li>
                  <li><%= link_to 'Marquam Trail', '#' %></li>
                  <li><%= link_to 'Oregan Health & Science University (OHSU) Hospital', '#' %></li>
                  <li><%= link_to 'Portland Aerial Tram', '#' %></li>
                  <li><%= link_to 'Pioneer Courthouse Square', '#' %></li>
                </ul>
              </ul>
              <li><%= link_to 'Providence Park', '#' %></li>
              <li><%= link_to 'Concordia', '#' %></li>
              <li><%= link_to 'Alberta Arts District', '#' %></li>
            </ul>
          </li>
        </ul>
        <ul class="toc_list">
          <li>Los Angeles
            <ul>
              <li><%= link_to 'Korea Town', controller: 'trip', :action => :korea_town %></li>
              <li><%= link_to 'Wiltern Theatre', controller: 'trip', :action => :korea_town %></li>
              <li><%= link_to 'Wilshire Ebell Theatre', controller: 'trip', :action => :korea_town %></li>
            </ul>
          </li>
        </ul>
      </div>
    </th>
  </tr>
  </thead>
</table>

<!--<table class='table borderless'>-->
<!--  <tbody>-->
<!--  <tr>-->
<!--    <td>&nbsp;</td>-->
<!--    <td class=toc_title align=center>Trip</td>-->
<!--    <td>&nbsp;</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>&nbsp;</td>-->
<!--    <td>Portland</td>-->
<!--    <td>&nbsp;</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>&nbsp;</td>-->
<!--    <td>&nbsp;</td>-->
<!--    <td>Broadway Bridge</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>&nbsp;</td>-->
<!--    <td>Los Angeles</td>-->
<!--    <td>&nbsp;</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>&nbsp;</td>-->
<!--    <td>&nbsp;</td>-->
<!--    <td>Korea Town</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->